.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  /* Gradient / Metal */
  background: linear-gradient(90deg, #2b303a 0%, #3f4756 100%);
  color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
